<html>
	<title>Please Login</title>
	<body>
		<h1 align="center">Please enter your user info</h1>
		<div style="width:100%;text-align:center">
		<form action="__CONTROLLER__/checkVerify" method="post">
			User Name:<br />
			<input type="text" name="username">
			<br />
			Password:<br />
			<input type="password" name="password">
			<br />
			Captcha:<br />
			<img height="40" width="110" src="__CONTROLLER__/showCaptcha" onclick=this.src="__CONTROLLER__/showCaptcha/"+Math.random() style="cursor:pointer;" />
			<br />
			<input type="text" name="captcha">
			<br />
			<input type="submit" value="login">
			<br />
		</form>
		</div>
	</body>
</html> 